<ul class="sg-colors">
  <li class="white">
    <div class="swatch">
      <a>Link</a>
      <div class="divider"></div>
      <a class="btn">Primary action</a>
      <a class="btn btn-alternate">Alternate action</a>
      <a class="btn btn-alternate-2">Alternate action 2</a>
    </div>
  </li>
  <li class="hotpink">
    <div class="swatch">
      <a>Link</a>
      <div class="divider"></div>
      <a class="btn">Primary action</a>
      <a class="btn btn-alternate">Alternate action</a>
      <a class="btn btn-alternate-2">Alternate action 2</a>
    </div>
  </li>
</ul>
