<header class="header">
    <nav>
        <span class="line line--1"></span>
        <span class="line line--2"></span>
        <span class="line line--3"></span>
        <span class='title'>INDORSED</span>
        <div class="fab fab--menu">
            <span class="line line--1"></span>
            <span class="line line--2"></span>
            <span class="line line--3"></span>
        </div>
    </nav>
</header>

<section>
    <div class="container">
        <div class="block heading-block">
            <h1>Breaking down a chicken</h1>
        </div>
    </div>
    <div class='block image-block'>
        <img src='https://www.fillmurray.com/1200/640' />
    </div>
    <div class="container">
        <div class="block text-block text-block--block-cap">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at pellentesque leo, eu ultrices turpis. Fusce at dignissim mauris. Nullam vitae lacus auctor elit sollicitudin vehicula. Mauris ac augue ut nisl ultricies mattis vitae ac turpis. Nulla pretium porttitor porttitor.</p>
            <blockquote>Nunc condimentum pulvinar enim, eget luctus nibh bibendum volutpat. Donec dictum velit sed fringilla ultricies. Sed ut elementum lorem, ac condimentum urna. Curabitur ac maximus ligula. </blockquote>
            <p>Vestibulum placerat iaculis lectus vitae iaculis. Sed euismod, justo nec accumsan condimentum, risus erat pharetra ligula, sit amet pharetra ex leo nec sem. Curabitur pellentesque et velit in vestibulum.</p>
            <div class="divider"></div>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Duis aute irure dolor in reprehenderit</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="btn" href="#">Take an action!</a>
            <a class="btn btn-secondary" href="#">Do something else!</a>
        </div>
    </div>
</section>

<section class="white">
    <div class="block steps-block">
        <ol class="steps" id="steps">
            <li class="steps__step">
                <div class="steps__step--header">
                    <h2>Steep early hops</h2>
                </div>
                <div class="steps__step--image">
                    <img src="https://placehold.it/1200x700" />
                </div>
                <ul class="steps__step--meta">
                    <li>
                        <div class="steps__step--meta-quantity">1/2</div>
                        <div class="steps__step--meta-content">lb American 6-row malt, crushed</div>
                    </li>
                    <li>
                        <div class="steps__step--meta-quantity">1/2</div>
                        <div class="steps__step--meta-content">lb Crystal 20L malt, crushed</div>
                    </li>
                </ul>
                <div class="steps__step--body">
                    Tie the American 6-row malt and Crystal 20L malt in a mesh hop-bag. Heat 1 gallon of water in a large pot to 160°F and remove from heat. Add malt and let steep for 20 minutes.
                </div>
                <div class="steps__step-close-btn icon-close-wide"></div>
            </li>
            <li class="steps__step">
                <div class="steps__step--header">
                    <h2>Bring up to temperature</h2>
                </div>
                <div class="steps__step--body">
                    Raise temperature slowly to 170°F. Make sure mesh bag isn’t sitting directly on the bottom of the pot. Remove the grain bag and add water to make 3 gallons total.
                </div>
                <div class="steps__step-close-btn icon-close-wide"></div>
            </li>
            <li class="steps__step">
                <div class="steps__step--header">
                    <h2>Boil and add malt</h2>
                </div>
                <ul class="steps__step--meta">
                    <li>
                        <div class="steps__step--meta-quantity">1/2</div>
                        <div class="steps__step--meta-content">ounce Centennial hops</div>
                    </li>
                </ul>
                <div class="steps__step--body">
                    Bring the wort to a vigorous boil. As water is heating, slowly add malt extract, stirring constantly until completely dissolved. When boil begins, add 1/2 ounce Centennial hops in mesh bag.
                </div>
                <div class="steps__step-close-btn icon-close-wide"></div>
            </li>
            <li class="steps__step">
                <div class="steps__step--header">
                    <h2>Add mid-brew hops</h2>
                </div>
                <ul class="steps__step--meta">
                    <li>
                        <div class="steps__step--meta-quantity">1</div>
                        <div class="steps__step--meta-content">ounce Cascade hops</div>
                    </li>
                    <li>
                        <div class="steps__step--meta-quantity">1</div>
                        <div class="steps__step--meta-content">ounce Centennial hops</div>
                    </li>
                </ul>
                <div class="steps__step--body">
                    After 45 minutes of boiling has passed, add 1 ounce Cascade and 1 ounce Centennial in mesh bag.
                </div>
                <div class="steps__step-close-btn icon-close-wide"></div>
            </li>
            <li class="steps__step">
                <div class="steps__step--header">
                    <h2>Add late-brew hops</h2>
                </div>
                <ul class="steps__step--meta">
                    <li>
                        <div class="steps__step--meta-quantity">1</div>
                        <div class="steps__step--meta-content">ounce Cascade hops</div>
                    </li>
                    <li>
                        <div class="steps__step--meta-quantity">1/2</div>
                        <div class="steps__step--meta-content">ounce Centennial hops</div>
                    </li>
                </ul>
                <div class="steps__step--body">
                    After total of 60 minutes of boil remove from heat, add 1 ounce Cascade and 1/2 ounce Centennial in mesh bag and cover. Warning: After wort cools below 180°F everything that touches it should be sanitary, and exposure to open air should be limited as much as possible.
                </div>
                <div class="steps__step-close-btn icon-close-wide"></div>
            </li>
        </ol>
    </div>
</section>
