<header class="header">
    <nav>
        <span class="line line--1"></span>
        <span class="line line--2"></span>
        <span class="line line--3"></span>
        <span class='title'>INDORSED</span>
        <div class="fab fab--menu">
            <span class="line line--1"></span>
            <span class="line line--2"></span>
            <span class="line line--3"></span>
        </div>
    </nav>
</header>

<section>
    <div class="container">
        <div class="block heading-block heading-block--line-through">
            <h1>RECENTLY ENDORSED</h1>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="block heading-block">
            <h2>KITCHEN</h2>
        </div>
    </div>
    <div class='block slider-block slider-block--fit'>
        <div class="slider">
            <ul class="slider__track">
                <li class="slider__slide ">
                    <img src='https://loremflickr.com/g/350/280/cooking' />
                    <a href="#" class="slider__slide-label">
                        <p>COAST HOUSE KNIFE SHARPENING</p>
                    </a>
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/g/350/280/cooking?random=1' />
                    <a href="#" class="slider__slide-label">
                        <p>THE COOKING ISSUES PODCAST</p>
                    </a>
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/g/350/280/cooking?random=2' />
                    <a href="#" class="slider__slide-label">
                        <p>OWNING A CIRCULATOR</p>
                    </a>
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/g/350/280/cooking?random=3' />
                    <a href="#" class="slider__slide-label">
                        <p>MAKING PICKLES</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="block heading-block">
            <h2>GARDEN</h2>
        </div>
    </div>
    <div class='block slider-block slider-block--fit'>
        <div class="slider">
            <ul class="slider__track">
                <li class="slider__slide ">
                    <img src='https://loremflickr.com/g/350/280/garden' />
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/g/350/280/garden?random=1' />
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/g/350/280/garden?random=2' />
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/g/350/280/garden?random=3' />
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/g/350/280/garden?random=4' />
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/350/280/garden?random=5' />
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="block heading-block">
            <h2>ENTERTAINMENT</h2>
        </div>
    </div>
    <div class='block slider-block slider-block--fit'>
        <div class="slider">
            <ul class="slider__track">
                <li class="slider__slide ">
                    <img src='https://loremflickr.com/350/280/' />
                    <a href="#" class="slider__slide-label">
                        <p>BOOKS: THE STORMLIGHT ARCHIVE</p>
                    </a>
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/350/280/' />
                    <a href="#" class="slider__slide-label">
                        <p>GAME: HEROES OF THE STORM</p>
                    </a>
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/350/280' />
                    <a href="#" class="slider__slide-label">
                        <p>PODCAST: FREAKONOMICS</p>
                    </a>
                </li>
                <li class="slider__slide">
                    <img src='https://loremflickr.com/350/280' />
                    <a href="#" class="slider__slide-label">
                        <p>TV: 30 ROCK</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
