<ul class="sg-headings">
  <li>
    <h1>Heading one</h1>
  </li>
  <li>
    <h2>Heading two</h2>
  </li>
  <li>
    <h3>Heading three</h3>
  </li>
  <li>
    <h4>Heading four</h4>
  </li>
  <li>
    <h5>Heading five</h5>
  </li>
  <li>
    <h6>Heading six</h6>
  </li>
</ul>
