<ul class="sg-buttons white">
  <li>
    <a href="#" class="btn">Heading one</a>
  </li>
  <li>
    <a href="#" class="btn btn-alternate">Heading one</a>
  </li>
  <li>
    <a href="#" class="btn btn-alternate-2">Heading one</a>
  </li>
</ul>
