<section>
    <div class="container">
        <h1>SECTION: NO COLOUR</h1>
        <p>Text with a <a href="#">link</a></p>
        <a class="btn" href="#">Button</a>
        <a class="btn btn-secondary" href="#">Button</a>
        <a class="btn btn-tertiary" href="#">Button</a>
    </div>
</section>
<section class="white">
    <div class="container">
        <h1>SECTION: WHITE</h1>
        <p>Text with a <a href="#">link</a></p>
        <a class="btn" href="#">Button</a>
        <a class="btn btn-secondary" href="#">Button</a>
        <a class="btn btn-tertiary" href="#">Button</a>
    </div>
</section>
<section class="pink">
    <div class="container">
        <h1>SECTION: PINK</h1>
        <p>Text with a <a href="#">link</a></p>
        <a class="btn" href="#">Button</a>
        <a class="btn btn-secondary" href="#">Button</a>
        <a class="btn btn-tertiary" href="#">Button</a>
    </div>
</section>
