<header class="header">
    <nav>
        <span class="line line--1"></span>
        <span class="line line--2"></span>
        <span class="line line--3"></span>
        <span class='title'>INDORSED</span>
        <div class="fab fab--menu">
            <span class="line line--1"></span>
            <span class="line line--2"></span>
            <span class="line line--3"></span>
        </div>
    </nav>
    <div class="menu" id="menu">
        <ul>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
            <li><a href="#">Menu 4</a></li>
        </ul>
    </div>
</header>

<section style='height:2000px;'>
    <div style="width:150px; float:right; margin-top: 500px;">
        <img class="scroll-spinner" src='../../images/scrolling-spinner.svg' />
    </div>
</div>
