<section>
    <div class='block slider-block'>
        <div class="slider">
            <ul class="slider__track">
                <li class="slider__slide">
                    <a href="#">
                        <img src='https://placehold.it/1200x640' />
                        <div class="slider__slide-label">
                            <p>COLD SHOWERS</p>
                        </div>
                    </a>
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class='block slider-block slider-block--fit'>
        <div class="slider">
            <ul class="slider__track">
                <li class="slider__slide ">
                    <img src='https://placehold.it/800x640' />
                    <div class="slider__slide-label">
                        <p>COLD SHOWERS</p>
                    </div>
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                    <div class="slider__slide-label">
                        <p>SPACHCOCKING CHICKENS</p>
                    </div>
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
                <li class="slider__slide">
                    <img src='https://placehold.it/800x640' />
                </li>
            </ul>
        </div>
    </div>
</section>
